## 1. List Comprehensions

In [1]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    result=[]
    for i in range(x+1):
        for j in range(y+1):
            for k in range(z+1):
                temp=[]
                if i+j+k!=n:
                    temp.append(i)
                    temp.append(j)
                    temp.append(k)
                    result.append(temp)
    print(result)

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

## 2. Find the Runner-Up Score!

In [2]:
import sys
if __name__ == '__main__':
    n = int(input())
    arr = set(int(i) for i in input().split(" "))
    max1=-sys.maxsize-1
    max2=-sys.maxsize-1
    for i in arr:
        if i>max1:
            max2=max1
            max1=i
        elif i>max2:
            max2=i
    print(max2)

5
2 3 6 6 5
5

## 3. Nested Lists

In [3]:
nest_list = []
score_list = []

for i in range(int(input())):
        name = input()
        score = float(input())
        nest_list.append([name,score])
        score_list.append(score)

s = [*set(score_list)]
s.sort()
def Sort(nest_list):
  nest_list.sort(key = lambda x: (x[1], x[0]))
  return nest_list

for x in Sort(nest_list):
  if x[1] == s[1]:
    print(x[0])

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Berry
Harry

## 4. Find the percentage

In [6]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
avg = sum(student_marks[query_name])/len(student_marks[query_name])
print("{0:.2f}".format(avg))

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00

## 5. Lists

In [7]:
if __name__ == '__main__':
    N = int(input())
    l = []
    for _ in range(N):
        inp = input().split()
        if 'insert' in inp:
            l.insert(int(inp[1]), int(inp[2]))
        elif 'print' in inp:
            print(l)
        elif 'remove' in inp:
            l.remove(int(inp[1]))
        elif 'append' in inp:
            l.append(int(inp[1]))
        elif 'sort' in inp:
            l.sort()
        elif 'pop' in inp:
            l.pop()
        elif 'reverse' in inp:
            l.reverse()

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

## 6. Tuples

In [8]:
if __name__ == '__main__':
    n = int(input())
    int_list = [int(i) for i in input().split()]
    int_tuple = tuple(int_list)
    print(hash(int_tuple))

2
1 2
-3550055125485641917

## 7. Introduction to Sets

In [2]:
def average(array):
    set_arr = set(array)
    return sum(set_arr)/len(set_arr)
if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

5
2 3 4 5 6
4.0

## 8. No Idea!

In [3]:
n,m = list(map(int, input().split()))
arr, a, b = list(map(int, input().split())), set(map(int, input().split())), set(map(int, input().split()))

x = set(arr) & a 
y = set(arr) & b
c = 0
for i in arr:
    if i in x: 
        c += 1
    elif i in y: 
        c -= 1

print(c)

3 2
1 5 3
3 1
5 7
1

## 9. Symmetric Difference

In [4]:
M = int(input())
a = set(map(int, input().split()))
N = int(input())
b = set(map(int,input().split()))

sym = sorted(x for x in a.symmetric_difference(b))
for elems in sym:
    print(elems)

4
2 4 5 9
4
2 4 11 12
5
9
11
12

## 10. Set .add()

In [5]:
number = int(input())
lst = []
for i in range(number):
    enter = input()
    lst.append(enter)
    
resultado = len(set(lst))

print(resultado)

7
UK
China
USA
France
New Zealand
UK
France
5

## 11. Set .discard(), .remove() & .pop()

In [6]:
num = int(input())
data = set(map(int, input().split()))
operations = int(input())

for x in range(operations):
  oper = input().split()
  if oper[0] == "remove":
    data.remove(int(oper[1]))
  elif oper[0] == "discard":
    data.discard(int(oper[1]))
  else:
    data.pop()
    
print(sum(data))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

## 12. Set .union() Operation

In [7]:
n, N = (int(input()), set(map(int, input().split())))
b, B = (int(input()), set(map(int, input().split())))
print(len(N.union(B)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
13

## 13. Set .intersection() Operation

In [8]:
input()
s = set(input().split())
input()
print(len(s.intersection(input().split())))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

## 14. Set .difference() Operation

In [9]:
input()
s = set(input().split())
input()
print(len(s.difference(input().split())))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4

## 15. Set .symmetric_difference() Operation

In [10]:
input()
a = set(map(int, input().split()))
input()
b = set(map(int, input().split()))
print(len(a.symmetric_difference(b)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

## 16. Set Mutations

In [11]:
n = int(input())
A = set(map(int, input().split()))
N = int(input())
operations = []
for i in range(N):
    op, dummy = input().split()
    numbers = set(map(int, input().split()))
    operations.append((op, numbers))
for op, numbers in operations:
    if(op == 'intersection_update'):
        A &= numbers
    if(op == 'symmetric_difference_update'):
        A ^= numbers
    if(op == 'difference_update'):
        A -= numbers
    if(op == 'update'):
        A |= numbers
print(sum(A))

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

## 17. The Captain's Room

In [13]:
k = int(input())

rooms = list(map(int, input().split()))
print((sum(set(rooms)) * k - sum(rooms)) // (k - 1))

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

## 18. Check Subset

In [14]:
t=int(input())
for i in range(t):
    l=[]
    l1=[]
    c=0
    n1=int(input())
    l=list(map(int,input().split()))
    n2=int(input())
    l1=list(map(int,input().split()))
    for i in l:
        if i in l1:
            c=c+1
    if c==len(l):
        print(True)
    else:
        print(False)

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
True
1
2
5
3 6 5 4 1
False
7
1 2 3 5 6 8
9
3
False

## 19. Check Strict Superset

In [15]:
set_a = set(map(int, input().split()))

def is_superset_of_all(set_a):
    for i in range(int(input())):
        set_x = set(map(int, input().split()))
        if not set_a.issuperset(set_x): return False
    return True

print(is_superset_of_all(set_a))

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False